In [5]:
10*20

200

In [8]:
a=10
b=20
name="mehak"
city="lucknow"

 # operators
- arithmetic
- assignment
- comparison
- logical
- membership
- identity

In [6]:
# + - * / % // **
x=10 
y=3
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x % y)
print(x//y)
print(x**y)
# = += -= *= /= %= //= **=
a=10
b= a+20
c=a+b
c=c+30
c +=30
c -=10
print(c)
print(a)
print(b)

13
7
30
3.3333333333333335
1
3
1000
90
10
30

In [7]:
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)
print(a != b)
print(a == b)
print(a == b)

False
True
False
True
True
False
False

In [9]:
print (a > b and a < b)
print (a > b or a < b)
print (a > 2 and a < b)
print ( a > 2 or a < b)
print (not a > 2)
print (not(a > b and a < b))

False
True
True
True
False
True

In [10]:
name = "Alexis"
print("h" in name)
print("a" in name)
print("A" in name)
print("x" in name)
nums= [10,20,30,40,50]
print(10 in nums)
print(100 in nums)

False
False
True
True
True
False

In [11]:
#is (identity operator )
a= 10
b= 20
c=a*b
print(a,b,c)
print(a, "*",b,"=",c)
name='Sara'
age=25
job="SDE 1"
print("name:",name,"Age:",age,"job:",job )
print("name:",name)
print("age:",age)
print("job:",job)
p=12000
r=2.5
t=10
si=p*r*t/100
print(p*r*t/100)
print("simple intrest calculator")
print("üß°"*10)
print(f'principle={p}')
print(f'rate={r}')
print(f'time={t}')
print("‚ù§" *10)
print(f'simple intrest={s}')

10 20 200
10 * 20 = 200
name: Sara Age: 25 job: SDE 1
name: Sara
age: 25
job: SDE 1
3000.0
simple intrest calculator
üß°üß°üß°üß°üß°üß°üß°üß°üß°üß°
principle=12000
rate=2.5
time=10
‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§

NameError: name 's' is not defined

In [14]:
print("simple intrest calculator")
print("-"*30)
print(f'principle={p/1000:15}k')
print(f'rate={r:20}%')
print(f'time={t:20}y')
print("-" *30)
print(f'simple intrest={si}')
print("-"*30)

simple intrest calculator
------------------------------
principle=           12.0k
rate=                 2.5%
time=                  10y
------------------------------
simple intrest=3000.0
------------------------------

a=-10

In [16]:
fav_movie=input("plz enter your movie")
print(fav_movie)
print("you may like it but i dont care")

pathaan
you may like it but i dont care

In [17]:
a=input("enter a number")
b=input("enter another number")
print("result is")
print(int(a)+int(b))

result is
1212 12

In [3]:
pi=3.14
r=5
area=4*pi*r**2
print("area of spherer is",area)

area of spherer is 314.0