Dictionary
- how to declare it
- how to use loops
- how to access key and values of a dictionary

In [11]:
students = {
    "name" : "john",
    "class" : "12th",
    "roll_no" : 12,
    "age" : 17
}
print(students)

{'name': 'john', 'class': '12th', 'roll_no': 12, 'age': 17}

In [31]:
temp = {
    'lucknow' : [25,30,35],
    'Delhi' : [30,35,40],
    'chennai':[24,23,22]
    }
print(temp)

{'lucknow': [25, 30, 35], 'Delhi': [30, 35, 40], 'chennai': [24, 23, 22]}

In [4]:
info = dict(name='Riya', age=27, dept='HR', salary=30000)
print(info)

{'name': 'Riya', 'age': 27, 'dept': 'HR', 'salary': 30000}

In [2]:
info2 = dict(name=input("Enter the name"),age = int(input("Enter the age")),
            dept = input("Enter the department"), salary=int(input("Enter the salary")))

In [7]:
print(info2)

{'name': 'info2', 'age': 19, 'dept': 'Computer', 'salary': 100000}

In [12]:
#1st method 
print(students['name'])
print(students['roll_no'])

john
12

In [13]:
#2nd method
print(students.get('name'))
print(students.get('age'))

john
17

In [14]:
#to add items
students['school']='DPS'
students['city']='Lucknow'
print(students)

{'name': 'john', 'class': '12th', 'roll_no': 12, 'age': 17, 'school': 'DPS', 'city': 'Lucknow'}

In [15]:
for x in students:
    print(x)

name
class
roll_no
age
school
city

In [16]:
for k,v in students.items():
    print(f'{k} :{v}')

name :john
class :12th
roll_no :12
age :17
school :DPS
city :Lucknow

In [18]:
print(students.keys())
print(students.values())
print(students.items())

dict_keys(['name', 'class', 'roll_no', 'age', 'school', 'city'])
dict_values(['john', '12th', 12, 17, 'DPS', 'Lucknow'])
dict_items([('name', 'john'), ('class', '12th'), ('roll_no', 12), ('age', 17), ('school', 'DPS'), ('city', 'Lucknow')])

In [25]:
company = {
    'emp001':{
        'name':'John',
        'age': 17,
        'dept':'Computer',
        'salary':10000,
    },
    'emp002':{
        'name':'Mehak',
        'age': 20,
        'dept':'IT',
        'salary':50000,
    },
    'emp003':{
        'name':'Sanya',
        'age': 21,
        'dept':'Maths',
        'salary':60000,
    }
}
print(company)

{'emp001': {'name': 'John', 'age': 17, 'dept': 'Computer', 'salary': 10000}, 'emp002': {'name': 'Mehak', 'age': 20, 'dept': 'IT', 'salary': 50000}, 'emp003': {'name': 'Sanya', 'age': 21, 'dept': 'Maths', 'salary': 60000}}

In [26]:
from pprint import pp

In [27]:
pp(company)

{'emp001': {'name': 'John', 'age': 17, 'dept': 'Computer', 'salary': 10000},
 'emp002': {'name': 'Mehak', 'age': 20, 'dept': 'IT', 'salary': 50000},
 'emp003': {'name': 'Sanya', 'age': 21, 'dept': 'Maths', 'salary': 60000}}

In [28]:
print(company['emp001']['dept'])

Computer

In [29]:
company['emp004']={
    'name':'Sam',
    'age':35,
    'dept':'Admin',
    'salary':150000
}
pp(company)

{'emp001': {'name': 'John', 'age': 17, 'dept': 'Computer', 'salary': 10000},
 'emp002': {'name': 'Mehak', 'age': 20, 'dept': 'IT', 'salary': 50000},
 'emp003': {'name': 'Sanya', 'age': 21, 'dept': 'Maths', 'salary': 60000},
 'emp004': {'name': 'Sam', 'age': 35, 'dept': 'Admin', 'salary': 150000}}

In [33]:
print(temp['lucknow'][1])
print(temp['Delhi'][2])

30
40

In [40]:
print('average temperature in Delhi :', sum(temp['Delhi'])/len(temp['Delhi']) )

average temperature in Delhi : 35.0

In [42]:
report ={
    'Alex':{
        'English':85,
        'Maths':90,
        'Science':78
    },
    'Raj':{
        'English':95,
        'Maths':80,
        'Science':50
    },
}
pp(report)

{'Alex': {'English': 85, 'Maths': 90, 'Science': 78},
 'Raj': {'English': 95, 'Maths': 80, 'Science': 50}}