In [1]:
x= {2,4,5,6,7,6,7,3}
print(x)

{2, 3, 4, 5, 6, 7}

In [2]:
y={1,2,3,4,5,}
z={1,2,3,4,5,6,5,4,4,5,6,7,5,6,5}
print(y)
print(z)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}

In [3]:
a = set("hello")
print(a)

{'h', 'o', 'l', 'e'}

In [4]:
b= set([1,2,3,4,5,6,3,4,5,5,3])
print(b)

{1, 2, 3, 4, 5, 6}

In [6]:
c= set(range(50))
print(c)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49}

In [8]:
data= set()
data.add(12)
data.add(17)
data.add(20)
data.add(18)
print(data)

{17, 18, 12, 20}

In [11]:
#to remove data from set
#1st method
data.pop()

18

In [10]:
print(data)

{18, 12, 20}

In [12]:
#2nd method
data.discard(9)

In [13]:
print(data)

{12, 20}

In [14]:
data.clear()
print(data)

set()

In [16]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {7,8,9,10}
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10, 7}

In [18]:
print(a.union(b))
print(a|b)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [19]:
print(a.intersection(b))
print(a & b)

{4, 5}
{4, 5}

In [20]:
print(a.difference(b))
print(a-b)

{1, 2, 3}
{1, 2, 3}

In [21]:
print(a.issuperset(b))

False

In [23]:
print(a.issubset(a))

True

Create
Method

Sets operation
- union
- intersection
- difference
- symmetric difference
- issubset
- issuperset